[Unit]
Description=ika

[Service]
User=astel
Group=astel
WorkingDirectory=/opt/ika/ika-0.1.0-SNAPSHOT
Environment='JAVA_OPTS=-Xms64M -Xmx64M -XX:MaxMetaspaceSize=128M \
-verbose:gc -Xloggc:/var/log/ika/gc.log -XX:+PrintGCDetails -XX:+PrintGCDateStamps \
-XX:+UseGCLogFileRotation -XX:NumberOfGCLogFiles=10 -XX:GCLogFileSize=10M'
EnvironmentFile=/home/astel/.bashrc
PIDFile=/var/run/ika/ika.pid
ExecStart=/bin/sh -c "exec /opt/ika/ika-0.1.0-SNAPSHOT/bin/ika -Dpidfile.path=/var/run/ika/ika.pid -Dhttp.port=127.0.0.1 -Dhttp.port=9000 -Dconfig.file=/etc/ika/application.conf -Dlogback.configurationFile=/etc/ika/logback.xml >> /var/log/ika/console.log 2>&1"
ExecStop=/usr/bin/kill -QUIT $MAINPID
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target
